.Slider {
    width: 1280px;
    max-width: 1280px;
    user-select: none;
}

.Slider__list {
    width: 9999px;
}

.Slider__item {
    display: inline-block;
}

.Slider__img {
    pointer-events: none;
    display: block;
}